@model CRUD.Entities.theMenu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>theMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptiom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptiom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { code = Model.MenuCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
